<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/css/mystyle.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="home">
      <h6>my page</h6>
      <img src="static/img/default.png" alt="" />
      <hr />
      <p v-if="movices.length==0">no data</p>
      <div class="img_list">
        <img alt="" v-bind:src="apiurl + a.pic" v-for="a in movices" />
      </div>
      <button v-on:click="getData()">get data</button>
    </div>

    <script>
      new Vue({
        el: "#home",
        data: {
          apiurl: "https://api.dweb.club/",
          movices: [],
        },
        methods: {
          getData() {
            console.log("get data now");
            var self = this;
            axios({
              methods: "get",
              type: "json",
              url: "https://api.dweb.club/dweb-api/get-index-data/",
            }).then(function (res) {
              console.log(res.data.newsdata);
              self.movices = res.data.newsdata;
            });
          },
        },
      });
    </script>
  </body>
</html>
