<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/mystyle.css" />
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.js"></script>
  </head>
  <body>
    <div id="home">
      <div class="header">
        <h4>{{siteinfo.title}}</h4>
        <img src="/upload/{{siteinfo.icon}}" alt="" />
      </div>

      <hr />

      <div class="content">
        <div class="menu">
          <div
            v-if="course.id==choosed"
            v-for="course in courses"
            class="item"
            style="background: #777; color: #fff"
          >
            <a>[[course.text]]</a>
          </div>
          <div v-else v-on:click="chooseMenu(course.id)" class="item">
            <a>[[course.text]]</a>
          </div>
        </div>

        <div
          v-if="course.id==choosed"
          v-for="course in courses"
          class="userlist"
        >
          <div>[[course.text]]</div>
          <hr />
          <div class="user-content">
            <div
              v-if="course.users.length>0"
              v-for="user in course.users"
              class="user"
            >
              <img v-bind:src="baseUrl + user.userIcon" alt="" />
              <p>[[user.nickName]]</p>
            </div>
            <p v-else>Oops, on users right now!</p>
          </div>
        </div>
      </div>

      <hr />

      <div class="foot">Copyright © 2021 Skycoco</div>
    </div>

    <script>
      new Vue({
        delimiters: ["[[", "]]"],
        el: "#home",
        data: {
          baseUrl: "/upload/",
          choosed: 1,
          courses: [],
        },
        mounted() {
          this.getData();
        },
        methods: {
          getData() {
            axios({
              url: "/api/",
              type: "json",
              method: "get",
            }).then((res) => {
              console.log(res.data.courses);
              this.courses = res.data.courses;
            });
          },
          chooseMenu(id) {
            this.choosed = id;
          },
        },
      });
    </script>
  </body>
</html>
