<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/css/mystyle.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="home">
      <div class="header">
        <h4>{{siteinfo.title}}</h4>
        <img src="/upload/{{siteinfo.icon}}" alt="" />
      </div>

      <hr />

      <div class="content">
        <div class="menu">
          <div class="item">
            <span>Django backend</span>
          </div>
          <div class="item">
            <span>Vue frontend</span>
          </div>
          <div class="item">
            <span>Real project</span>
          </div>
          <div class="item">
            <span>Deploy project</span>
          </div>
        </div>

        <div class="userlist"></div>
      </div>

      <hr />

      <div class="foot">Copyright © 2021 Skycoco</div>
    </div>

    <script></script>
  </body>
</html>
